<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz</title>
    <link rel="stylesheet" href="../assets/styles/App.css">
</head>
<body>
    <div class="container">
        <header class="header-container">
            <img class="img-container" src="../assets/images/4d61cb5b72939a8359978792a5280e46.jpg" alt="profile-img" />
            <h1 class="title">Quizz</h1>
            <div class="info-container">
            <div class="info--data">
                <p>Edad</p>
            </div>
            <div class="info--data">
                <p>NC</p>
            </div>
            </div>
        </header>
        <div id="test"></div>
        <div class="result" id="resultado"></div>
        <button class="button" id="boton">Mostrar resultado</button>
        
</div>
<script src="../index.js" type="module"></script>   
</body>
</html>